body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: white;
}

a:link, a:visited {
  text-decoration: none;
  color: black;
}

.logo {
  font-weight: bold;
  color: tomato;
}

button {
  border-style: none;
  background-color: transparent;
  -webkit-appearance: none;
}
